
 <br><br>
<nav class="navbar fixed-top navbar-dark bg-success justify-content-between py-0">

  <div>
    &nbsp;
    <img src="/assets/img/logo.png" width="60" height="40" class="" alt="">

  </div>

  <div>
    <h5 class="text-center"> Actualités</h5>
    <h6 id="currentposition" class="text-center"> <img src="/assets/img/location.png" width="15" height="20" class="d-inline-block align-top"
      alt="">position actuel</h6>
  </div>

<div  class="text-center">

          <img src="/assets/img/fr.png" width="30" height="25" class="rounded ms-auto"  alt="">

      
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button class="btn btn-outline-secondary me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
          <img src="/assets/img/settings.png" width="30" height="25" alt="">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button routerLink="/fr-news-all" ngbDropdownItem><img src="/assets/img/documents.png" width="30" height="25" class="rounded ms-auto"  alt="">Tous les problèmes</button>
          <button routerLink="/fr-news" ngbDropdownItem><img src="/assets/img/fr.png" width="30" height="25" class="rounded ms-auto"  alt="">Français</button>
          <button routerLink="/ar-news" ngbDropdownItem><img src="/assets/img/tn.png" width="30" height="25" class="rounded ms-auto"  alt="">عربي</button>
          <button routerLink="/en-news" ngbDropdownItem><img src="/assets/img/en.png" width="30" height="25" class="rounded ms-auto"  alt="">English</button>
         </div>
      </div>

    
    

    
    &nbsp;
  

</div>




</nav>


<div style="background-image: url('/assets/img/background.jpeg');     background-repeat: no-repeat;
  
background-size: 100% 100%; background-attachment: fixed;" class="container">
<div id="news" style="background-image: url('/assets/img/background.jpeg');     background-repeat: no-repeat;
  
background-size: 100% 100%; background-attachment: fixed;" class="container">
  &nbsp;

  <div class="card bg-light mb-3" style="width: 21rem;">

    <p> &nbsp;<img class="text-end" src="assets/img/di-tox.png" width="40" height="40">
      &nbsp;&nbsp;
    <img src="/assets/img/person-fill.png" width="20" height="20" style=" float: center;" alt=""> Mohamed Dhia &nbsp;&nbsp;
     
    </p>
    <img class="card-img-top" src="assets/img/problempicexp.jpg" alt="Card image cap">
    
    <div class="card-body">
      <h5 class="card-title">Poubelle Toxique</h5>
      <p class="card-text">Des déchets toxiques ont été trouvés dans la forêt de borj cedria près de la plage.</p>

      <p>
        <button id="xbtn" type="button" class="btn btn-outline-success" (click)="collapse('xbtn')" [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample">
          Plus d'informations
        </button>
      </p>
      
        <div class="card">
          <div class="card-body" id="x" style="display:none">
            Deux barils renversés contenant des déchets toxiques dans la pinède près de la plage, son origine est inconnue.

            <table>
<tr>
  <td>
    <img src="assets/img/empty.jpg" width="132" height="107">
  </td>
  <td>
    <img src="assets/img/empty.jpg" width="132" height="107">
  </td>
</tr>
<tr>
  <td>
    <img src="assets/img/empty.jpg" width="132" height="107">
  </td>
  <td>
    <img src="assets/img/empty.jpg" width="132" height="107">
  </td>
</tr>

            </table>
          </div>
          
        </div>
      <img src="/assets/img/calendar.png" width="20" height="20" style=" float: center;" alt=""> 00:00:00  01/01/2022
    </div>
  </div>

  




</div>
<br>
<br>
</div>


<nav class="navbar fixed-bottom navbar-light bg-dark">
  <img routerLink="/fr-profile" src="/assets/img/fr-profile.png" width="38" height="50" class="center" alt="">
  <img routerLink="/fr-news" src="/assets/img/fr-news.png" width="38" height="50" class="center" alt="">
  <img routerLink="/fr-report" src="/assets/img/fr-detect.png" width="38" height="50" class="center" alt="">
  <img routerLink="/fr-events" src="/assets/img/fr-table.png" width="38" height="50" class="center" alt="">
  <img routerLink="/fr-info" src="/assets/img/fr-others.png" width="38" height="50" class="center" alt="">
</nav>