<nav class="navbar fixed-top navbar-dark bg-success justify-content-between py-0">

    <div>
      &nbsp;
      <img src="/assets/img/logo.png" width="60" height="40" class="" alt="">
  
    </div>
  
    <div>
      <h5 id="step" class="text-center"> Signaler</h5>
      <h6 id="currentposition" class="text-center"> <img src="/assets/img/location.png" width="15" height="20" class="d-inline-block align-top"
          alt="">position actuel</h6>
    </div>
  
    <div  class="text-center">
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button class="btn btn-outline-secondary me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
          <img src="/assets/img/fr.png" width="30" height="25" class="rounded ms-auto"  alt="">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem><img src="/assets/img/fr.png" width="30" height="25" class="rounded ms-auto"  alt=""> Français</button>
          <button ngbDropdownItem><img src="/assets/img/tn.png" width="30" height="25" class="rounded ms-auto"  alt=""> عربي</button>
          <button ngbDropdownItem><img src="/assets/img/en.png" width="30" height="25" class="rounded ms-auto"  alt=""> English</button>
        </div>
      </div>
      
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button class="btn btn-outline-secondary me-2" id="dropdownManual2" ngbDropdownAnchor (focus)="myDrop.open()">
          <img src="/assets/img/settings.png" width="30" height="25" alt="">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual2">
          <button ngbDropdownItem><img src="/assets/img/fr.png" width="30" height="25" class="rounded ms-auto"  alt=""> Français</button>
          <button ngbDropdownItem><img src="/assets/img/tn.png" width="30" height="25" class="rounded ms-auto"  alt=""> عربي</button>
          <button ngbDropdownItem><img src="/assets/img/en.png" width="30" height="25" class="rounded ms-auto"  alt=""> English</button>
        </div>
      </div>
      </div>
  </nav>

<body>
    <br><br><br><br><br>
 <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Merci d'avoir ajouter un administrateur</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">On a envoyé un email à <strong>{{user.email}}</strong>.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btng" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Réenvoyer la vérification de l'email
          </button>
        </div>
      </div>
      <br>
      <div class="redirectToLogin">
        <span>Retour à?<span class="redirect" routerLink="/sign-in"> S'Authentifier</span></span>
      </div>
    </div>
  </div>
</body>